<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kilgharrah</title>
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/js/app.js" defer></script>
</head>
<body>
    <header id="home">
        <h1 class="logo">Kilgharrah</h1>
        <div class="inline">
            <nav>
                <ul>
                    <li><a href="#home" class="underline hover from-middle">Home</a></li>
                    <li><a href="#game" class="underline hover from-middle">Game</a></li>
                    <li><a href="#about" class="underline hover from-middle">About</a></li>
                </ul>
            </nav>

            <div class="languages">
                <img src="/assets/img/flag_da.png" alt="Dansk" title="Dansk" class="flag"/>
                <img src="/assets/img/flag_en.png" alt="English" title="English" class="flag"/>
                <img src="/assets/img/flag_hu.png" alt="Magyar" title="Magyar" class="flag"/>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer id="about">
        <div>
            <h2>Kilgharrah</h2>
            <p>
                This website is created for the childrens who want to learn more about our solar system where we all live.
                They can learn a lot of useful things about space and planets in a playful way. We make this website easy to use and interesting.Also they can choose different languages and different levels according their knowledge about the space.
            </p>
        </div>

        <div>
            <h2>The team:</h2>
            <p>
                Lord Kent<br />
                Marcus the engineer<br />
                Kristóf, the one that got away<br />
                Ágnes the boss<br />
                Márton the man, the myth, the legend<br />
                &amp; Richárd, the hungry one.
            </p>
        </div>

        <div></div>
    </footer>
</body>
</html>
